@import "tailwindcss";

@theme {
  --color-primary: #23388d;
  --color-secondary: #fcfcfc;
  --color-text: #040404;
  --color-accent: #7b87ba;

  --radius-md: 8px;

  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  background-color: var(--color-secondary);
  color: var(--color-text);
}
